# Ignore IDE, & AI Directories
/.aiignore
/.cursor
/.idea
/.junie
/.phpstorm.meta.php
/.run
/.vscode

# Ignore Local, Build, Test and Vendor Directories
/.local
/build
/public/local
/public/phpunit
/vendor
*.terraform
coverage

# Ignore environment files, except for the default distribution file
.env
.env.*
*.private.env.json
!.env.dist

# Ignore boilerplate and development tooling files
.php-cs-fixer.cache
.phpstan.cache
.phpunit.cache
.rector.cache
docker-compose.override.yml
docker-compose.override.yaml
compose.override.yml
compose.override.yaml
phpstan-baseline.*.neon
phpstan-baseline.*.php
phpstan-baseline.neon
phpstan-baseline.php
phpstan.neon
phpunit.xml

# Ignore INI Files
*.ini
!php-development.ini
!php-production.ini

# Handle Monorepo and Package Specific Files
/packages/*/composer.lock
/packages/*/.local
/packages/*/build
/packages/*/vendor
/packages/framework/storage
